# misc
/.idea
.DS_Store

# modules
/node_modules

# built package after `npm pack`
/package

# cypress
/integration/videos
/integration/downloads
/integration/screenshots

# prefilter
all-tests.ts
filtered_test_paths.json
filtered_tests.json
filtered.json

# coverage and test reports
/reports
/.nyc_output
/coverage-nyc
/allure-results
/allure-report

# emitted
/js-files-cypress
/lib